<!DOCTYPE html>
<html>
  <head>
    <title>GitHubInfo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container center">
      <div class="text-center">

      <h1>GitHub Info</h1>
      <%= form_tag('/graphql', method: :get) do %>
        <label for="githubLogin">Enter GitHub Login:</label>
        <%= text_field_tag 'githubLogin', nil, required: true %>
        <%= button_tag onclick: 'fetchGitHubInfo()', class: 'btn btn-warning' do %>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
        </svg>
          Get Info
        <% end %>
      <% end %>
    </div>


      <hr>

      <div id="result"></div>
      <%= render 'layouts/github_info' %>

      <%= yield %>
    </div>
  </body>
</html>
